@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Kaushan+Script&family=Libre+Baskerville&family=Montserrat:ital,wght@0,400;0,700;1,600&family=Open+Sans:wght@300&family=Permanent+Marker&family=Roboto:wght@300&family=Work+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #00a78e;
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
    --black-900: #000;
    --black-400: #646f87;
    --black-100: #f7f7f7;
    --white: #fff;
    --black-alpha-100: rgba(0, 0, 0, .05);
    --dark-blue: #161A30;
    --blue1: #31304D;
    --gray: #B6BBC4;
    --cream: #F0ECE5;
    --blue2: #176B87;
}

body {
    font-family: "Kaushan Script", cursive;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style: none;
}


img {
    vertical-align: middle;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.btn-1 {
    background-color: var(--dark-blue);
    padding: 15px 40px;
    border: none;
    color: var(--white);
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-1:hover {
    color: var(--white);
    background-color: rgb(78, 78, 191);
}

.btn-2 {
    background-color: var(--white);
    padding: 15px 40px;
    border: none;
    color: var(--main-color);
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid var(--main-color);
    transition: all 0.3s ease-out;
}

.btn-2:hover {
    color: var(--white);
    background-color: var(--main-color);
    border: none;
}

.section-padding {
    padding: 80px 0;
}

.text-align {
    text-align: center;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.section-title .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}

/*ini utk besakin tulisan why you hire m*/
.section-title .main-title {
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}

.section-title .line {
    padding-top: 0px;
}

.section-title .line li {
    display: inline-block;
    background-color: var(--blue2);
    border-radius: 50px;
    height: 3px;
}

.section-title .line li:nth-of-type(1) {
    width: 64px;
}

.section-title .line li:nth-of-type(2) {
    width: 10px;
}

.section-title .line li:nth-of-type(3) {
    width: 7px;
}

/*===== Navbar =====*/
.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 25px;
    transition: all 0.5s ease;
}

.navbar.sticky {
    padding: 12px 25px;
    background-color: var(--white);
    box-shadow: var(--shadow-black-100);
}

.navbar .logo a {
    font-size: 24px;
    color: var(--black-900);
    font-weight: 600;
    text-transform: capitalize;
}

.navbar .logo a span {
    color: var(--main-color);
}


.navbar .menu .nav-item {
    display: inline-block;
    position: relative;
    margin-left: 36px;
}

.navbar .menu .nav-item .nav-link {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
    padding: 10px 0;
}

.navbar.sticky .menu .nav-item .nav-link {
    color: var(--dark-blue);
}

.navbar .nav-item .nav-link span {
    width: 0;
    height: 2px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out 0s;
}

/* ini utk buat garis dibawah tulisan home dll*/
.navbar .nav-item .nav-link span::before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    left: 110%;
}

.navbar .nav-item .nav-link span::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--white);
    left: 140%;
}

.navbar.sticky .nav-item a span,
.navbar.sticky .nav-item a span::before,
.navbar.sticky .nav-item a span::after {
    background-color: var(--blue2);
}

.navbar .nav-item>.nav-link.active span,
.navbar .nav-item:hover>.nav-link span {
    opacity: 1;
    visibility: visible;
    width: 60%;
}

.navbar .nav-item>.nav-link.active span::before,
.navbar .nav-item:hover>.nav-link span::before {
    width: 20%;
}

.navbar .nav-item>.nav-link.active span::after,
.navbar .nav-item:hover>.nav-link span::after {
    width: 15%;
}


.menu-toggle{
    background-color: rgb(206, 30, 30);
    height: 34px;
    width: 44px;
    box-shadow: var(--shadow-black-100);
    padding: 0;
    border-radius: 5px;
    line-height: 34px;
    text-align: center;
    color: var(--white);
    font-size: 20px;
    display: none;
}

.navbar .sticky .menu-toggle {
    color: var(--blue2);
    background-color: #fff;
}

/*===== Home =====*/
.home-section {
    position: relative;
    background-color: var(--black-100);
    z-index: 1;
    overflow-x: hidden;
    padding-top: 80px;
}

.home-section .home-text,
.home-section .home-image {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 25px;
}

.home-section .home-text h4 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 4px;
    color: var(--blue2);
}

.home-section .home-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 15px;
    color: var(--black-900);
}


.home-section .home-text p {
    font-size: 16px;
    color: var(--black-400);
    font-weight: 24px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.home-section .home-text .btn {
    display: inline-block;
    margin-top: 15px;
}

.home-section .home-image .img-box img {
    position: relative;
    width: 100%;
    z-index: 789;
}

.header-hero-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

/*ini buat supaya backgraoundny biso 2 warno*/
.header-hero-shape::before {
    position: absolute;
    content: '';
    width: 1000%;
    height: 100%;
    /* rgb(202 25 25) */
    background-color: rgb(206, 30, 30);
    transform: skewX(20deg);
    top: 0;
    left: 0;
}

/*===== About =====*/
.about-section .about-image,
.about-section .about-content {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
}

.about-section .about-image .img-box {
    position: relative;
}

.about-section .about-image .img-box img {
    max-width: 100%;
    width: 100%;
    z-index: 8;
}

.about-section .about-content p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.portfolio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 1rem;
}

.portfolio-image {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-images {
    width: 300px;
    height: 200px;
}


.port-text {
    width: 70%;
    margin-top: 20px;
    text-align: center;
}

.port-text h6 {
    font-size: 24px;
    color: #176B87;
}

.port-text p {
    /* text-align: justify;
    max-width: 30%; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.transition-text {
    animation: slidein 6s infinite;
}

@keyframes slidein {
    0% { margin-left: -500px; }
    20% { margin-left: -500px; }
    35% { margin-left: 0px; }
    100% { margin-left: 1% }
}

.contact-section {
    min-height: 100vh;
    background-color: var(--black-100);
}

.contact-section .contact-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contact-item .contact-item-inner {
    padding: 30px 15px;
    text-align: center;
    box-shadow: var(--shadow-black-100);
    border-radius: 5px;
    width: 100%;
}

.contact-item .contact-item-inner i {
    font-size: 24px;
    color: #176B87;
}

.contact-item .contact-item-inner span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--black-900);
    margin: 15px 0 10px;
    text-transform: capitalize;
}

.contact-item .contact-item-inner p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    color: var(--black-400);
    line-height: 26px;
}

@media screen and (max-width: 576px){

    .navbar .menu {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background-color: var(--gray);
        width: 100%;
        text-align: center;
        transition: all 0.5s ease;
        box-shadow: 0 10px 27px rgba(0, 0, 0, .05);
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar.sticky .menu{
        background-color: var(--white);
        top: 65px;
    }

    .navbar.sticky .menu-toggle {
        background-color: var(--white);
    }

    .navbar .menu .nav-item {
        display: block;
        margin: 6px 0;
    }

    .navbar.sticky .menu .nav-item .nav-link {
        color: rgb(206, 30, 30);
    }

    .navbar.sticky .menu-toggle i {
        color: rgb(206, 30, 30);
    }

    .navbar .nav-item .nav-link span {
        display: none;
    }

    .header-hero-shape {
        display: none;
    }

    .home-section .home-image  .img-box{
        margin-left: -17vh;
    }

    .home-section .home-image, .home-section .home-text {
        flex: 0 0 100%;
        max-width: 150%;
    }

    .navbar .menu-toggle {
        display: block;
        z-index: 999;
    }

    .about-section .about-image {
        display: none;
    }

    .about-section .about-content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-section .about-content .section-title{
        text-align: center;
    }

    .portfolio .portfolio-group, .contact-section .contact-item {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
    }

}
